/*.Overview {*/
/*    padding: 0;*/
/*}*/

/*.Overview ul {*/
/*    width: 100%;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    flex-flow: row wrap;*/
/*}*/

.Data, .Period {
    margin-top: 30px;
}

.Period > * {
    padding-right: 20px;
}

.DataItem {
    text-align: center;
    width: 90%;
    height: 70px;
    margin-top: 40px;
}

.DataItem  * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    font-size: 18px;
}

.Distance {
    width: 130%;
}
