.LocInput {
    margin: 5px 5px 0px 5px;
    width: 100%;
    height: 50px;
    background-color: #F6F5F6;
    border-radius: 5px;
    display: flex;
    line-height: 50px;
}

.LocInput:hover {
    background-color: #e7e7e7;
}

.LocInput img {
    margin:10px 25px 0 25px;
    width: 25px;
    height: 25px;
}