@import "~bootstrap/scss/bootstrap";

.rs-addr-panel{
    width: 100%;
    height: 100%;
    background: #1f2125;
}

.rs-input-bl{
    background: #292d3e !important;
    color: #FFF !important;
}

.main-head {
	background: #0D1440;
	box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, .15);
	padding: 1rem;
	margin-bottom: 0;
	margin-top: 5rem;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	border-radius: 4px;
	font-size: 16px;
}

.pricing-table {
	background: #fff;
	box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, .15);
	padding: 2rem;
	border-radius: 4px;
	transition: .3s;
}

.pricing-table:hover {
	box-shadow: 0px 1px 10px -4px rgba(0, 0, 0, .15);
}

.pricing-table .pricing-label {
	border-radius: 2px;
	padding: .25rem .5rem;
	margin-bottom: 1rem;
	display: inline-block;
	font-size: 12px;
	font-weight: 500;
}

.pricing-table h2 {
	color: #3b3b3b;
	font-size: 24px;
	font-weight: 500;
}

.pricing-table h5 {
	color: #B3B3B3;
	font-size: 14px;
	font-weight: 400;
}

.pricing-table .pricing-features {
	margin-top: 2rem;
}

.pricing-table .pricing-features .feature {
	font-size: 14px;
	margin: .5rem 0;
	color: #B3B3B3;
}

.pricing-table .pricing-features .feature span {
	display: inline-block;
	float: right;
	color: #3b3b3b;
	font-weight: 500;
}

.pricing-table 	.price-tag {
	margin-top: 2rem;
	text-align: center;
	font-weight: 500;
}

.pricing-table .price-tag .symbol {
	font-size: 24px;
}

.pricing-table .price-tag .amount {
	letter-spacing: -2px;
	font-size: 48px;
}

.pricing-table .price-tag .after {
	color: #3b3b3b;
	font-weight: 500;
}

.pricing-table .price-button {
	display: block;
	color: #fff;
	margin-top: 2rem;
	padding: .75rem;
	border-radius: 2px;
	text-align: center;
	font-weight: 500;
	transition: .3s;
}

.pricing-table .price-button:hover {
	text-decoration: none;
}

.purple .pricing-label {
	background: #cad2ff;
	color: #627afe;
}

.purple .price-tag {
	color: #627afe;
}

.purple .price-button {
	background: #627afe;
}

.purple .price-button:hover {
	background: #546dfe;
}

.turquoise .pricing-label {
	background: #b9edee;
	color: #44cdd2;
}

.turquoise .price-tag {
	color: #44cdd2;
}

.turquoise .price-button {
	background: #44cdd2;
}

.turquoise .price-button:hover {
	background: #2dbcc4;
}

.red .pricing-label {
	background: #ffc4c4;
	color: #ff5e5e;
}

.red .price-tag {
	color: #ff5e5e;
}

.red .price-button {
	background: #ff5e5e;
}

.red .price-button:hover {
	background: #f23c3c;
}

.pricing-loc{
    margin-bottom: 0;
}

// FAQ CSS
:focus {
    outline: none;
}

div + div {
    clear: both;
}

p {
    line-height: 1.4em;
    color: #9e9e9e;
}

.faq-title {
    font-size: 2em;
    margin: 0.4em 0;
}

div.seperator {
    width: 7.5em;
    background-color: #e31b1b;
    height: 0.07em;
    margin-left: -1.8em;
}

.faq-list > div {
    border-bottom: 0.07em solid #ededed;
    padding: 1em 0em;
} 

.faq-list > div:last-child {
    border: initial;
}

summary {
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

summary:hover {
    color: #e31b1b;
    transition: all 0.3s ease;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 55px}
}

details[open] summary {
  color: #e31b1b;
}

details[open] p {
    border-left: 2px solid red;
    margin-left: 55px;
    padding-left: 25px;
    opacity: 100;
    transition: all 3s ease;
}

details[open] summary:after {
    content: "-";
    font-size: 3.2em;
    margin: -0.5em 0.14em 0 0;
    font-weight: 200;
}

.faq-body {
    width: 70em;
    margin: 4em auto;
    box-shadow: 0px 0px 16px #5b5b5b;
    border-radius: 0.2em;
    padding: 5em;
    background-color: #fff;
}

.faq-list {
    width: 55em;
    margin: 1em auto;
    padding: 2em 0;
}

summary::-webkit-details-marker {
    display: none
}

summary:after {
    background: transparent;
    border-radius: 0.3em;
    content: "+";
    color: #e31b1b;
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    margin: -0.3em 0.25em 0 0;
    padding: 0;
    text-align: center;
    width: 25px;
}

.pricing-left{
	margin-top: 4px;
}
.pricing-left h2{
	font-size: 18px;
}

.listing-badges {
    position: absolute;
    top: 0;
    z-index: 999;
    right: -15px;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0;
    overflow: hidden;
    height: 100px;
}

.featured {
    float: left;
    transform: rotate(-45deg);
    left: -67px;
    top: 17px;
    position: relative;
    text-align: center;
    width: 200px;
    font-size: 13px;
    margin: 0;
    padding: 7px 10px;
    font-weight: 500;
    color: #fff;
}
.featured {
    background: #f0151f;
}

// animations
/* defines the animation */
@keyframes fadeInUp {
    from { 
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  .txtPara {
    opacity: 0; 
    animation: fadeInUp 1s ease-in-out 0s forwards;
  
    // then define the animation delay in each class
    .first-ele {
      animation-delay: 0.4s;
    }
    .second-ele {
      animation-delay: 0.8s;
    }
    .third-ele {
      animation-delay: 1s;
    }
   }

   // customizing bootstrap input label
   .modal-header{
       padding: 1rem 2rem;
       align-items: center;
   }
   .modal-header .close{
        
        padding: unset;
        display: flex;
        align-items: center;
        border-radius: 50%;
   }
   .modal-header .close span{
        padding: 4px 7px;
        margin-top: -4px;
   }
   .modal-header .close:hover{
        background: rgba(0,0,0,0.88);
        color: #FFF;
        border: none;
   }
   .modal-body{
        padding: 2rem 2rem 1rem 2rem;
   }
   .modal-body .form-control{
       font-weight: 600;
   }
   .modal-body .form-label{
       font-size: 0.9rem;
       opacity: 0.7;
   }

   // Notification
   .notification {
    position: absolute;
    bottom: 0;
    left: 35%;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    background-color: #00384a;
    border-radius: 10px;
    box-shadow: 0 0 25px #00384a44;
    font-weight: 400;
}

.notification a {
    text-decoration: none;
    color: #ffffffee;
    font-weight: 700;
    letter-spacing: .5px;
    transition: 300ms;
}

.notification a:hover {
    color: #ffffffaa;
}

.animation {
    animation: FadeIn 1s ease-in-out, FadeOut 500ms 4s ease-in-out forwards;
}


/* --------- */
/* Animation */
/* --------- */

@keyframes FadeIn {
    0% {
        // botton: 50px;
        opacity: 0;
    }
    25% {
        // top: -5px;
        opacity: .75;
    }
    50% {
        // top: 5px;
        opacity: 1;
    }
    100% {
        // top: 0px;
    }
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.hidden{
    display: none !important;
}

.invalid-feedback{
    display: unset;
}

.btn{
    font-size: 0.8rem;
}

.rs-lbl-wrapper{
    align-items: center;;
    justify-content: space-between;
    height: 20px;
}

hr{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}