.SideContent {
    overflow-y: auto;
    padding-right: 10px;
    margin: 10px auto auto !important;
}

.SideContent > * {
    margin: 10px auto;
}

.inputForm > form{
    border-bottom: 1px solid #d4d4d4;
}