.NavBar {
    display: none;
}

@media (min-width:800px) {
    .NavBar {
        cursor: pointer;
        height: 100%;
        width: 50%;
        margin: 10px;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        flex-flow: row;
    }
}