.SideFooter {
    height: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-self: flex-end;
}

.SideFooter > * {
    height: 50px;
    width: 48%;
    background-color: #b60000;
}