.StartBox{
    position: fixed;
    font-family: Mina-Regular;
    background-color: white;
    border-radius: 5px;
    width: 25%;
    border: 1px solid #ccc;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}