.LocInput {
    width: 100%;
    height: 50px;
    background-color: #F6F5F6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.LocInput:hover {
    background-color: #e7e7e7;
}

.LocInput img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    opacity: 0.4;
}