body {
  margin: 0;
  font-family: 'Hind Madurai', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Hind Madurai', sans-serif;
}

/* @font-face {
  font-family: 'Mina-Bold';
  src: local('Mina-Bold'), url(./assets/Mina-Bold.ttf) format('truetype');
} */