.SideContent {
    height: auto;
    overflow-y: auto;
    /* margin: 10px auto auto !important; */
}

.SideContent > * {
    margin: 10px auto;
}

.inputForm > form{
    height: auto;
    border-bottom: 1px solid #d4d4d4;
}

.inputForm span{
    font-size: 15px;
    margin: 12px 0 8px 0;
    display: block;
}

.inputFormWrapper{
    height: 232px;
}