.SideBar {
    position: fixed;
    z-index: 150;
    width: 25vw;
    height: 100vh;
    background-color: white;
    float: left;
    padding: 20px 2.5vw;
}

.SideBar > *:not(:first-child) {
    margin: 10px auto;
}